
---
import Layout from "../layouts/Layout.astro"
import Card2 from "../components/card2.astro"
---

<Layout title="estado estudiantil">
    <Card2/>
    <div>
        <label for="">seccion a</label>
    </div>
    <div>
        <label for="">seccion b</label>
    </div>
    <div>
        <label for="">seccion c</label>
    </div>
</Layout>



<style>
 .ecx{
    background-color: ;
 }
</style>