
---
import Layout from "../layouts/Layout.astro"
import Card2 from "../components/card2.astro"
---

<Layout title="estado estudiantil">
    <Card2/>
    <div class="jk">
    <div class="fg">
        <h1 class="e">Seccion "A"</h1>
        <p>
        <label for="">promedio:</label>
        <span>55%</span>
    </p>
    </div>
    <div class="fg">
        <h1 class="e">Seccion "B"</h1>
        <p>
            <label for="">promedio:</label>
            <span>75%</span>
        </p>
    </div>
    <div class="fg">
        <h1 class="e">Seccion "C"</h1>
        <p>
            <label for="">promedio:</label>
            <span>85%</span>
        </p>
    </div>
</div>
</Layout>



<style>
<<<<<<< HEAD
 .ecx{
    background-color: ;
=======
    .e{
        font-size: 25px;
    }
    .jk{
    display: flex;
    position: relative;
    }
    p{
        margin: 10px;
    }
 .fg{
    padding: 40px;
    max-width: 200px ;
    border-radius: 30px;
    background-color: #317874;
    margin: 30px;
>>>>>>> e8ae4982e7cda5e2993e1d587e8d9a4df2e9ba04
 }
</style>