---
import Layout from '../layouts/Layout.astro';
import Card2 from '../components/card2.astro';
import Creareva from '../components/creareva.astro';
import Tableva from '../components/tableva.astro'
---

<Layout title='Gestion Academica'>
    <Card2></Card2>
    <main>
         <Creareva/>
        <Tableva/>
    </main>
    </Layout>

    