---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="headerContainer">
			<div class="divContainer">
			   <h1 class="titulo">hola mundo</h1>
			   <div><input class="bus" type="text" placeholder="buscar"> <button class="butbus"> b </button></div>
		    </div>
		</div>
	</main>
</Layout>

<style>
    .headerContainer{
		background-color: aquamarine;
		padding: 30px;
		
		
	}
	.divContainer{
		display: flex;
		justify-content: space-between;
	}
	.titulo{
		font-size: 30px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.bus{
		height: 30px;
		width: 150px;
		border-radius: 4px;
		
	}
	.butbus{
		background-color:rgb(0, 24, 21);
		color: aliceblue;
		padding: 4px;
		width: 27px;
		border-radius: 2px ;
	}
	.butbus:hover{
		background-color: rgb(86, 99, 97);
	}
</style>
