---
import Layout from '../layouts/Layout.astro';
import Card2 from '../components/card2.astro';
import { Image } from 'astro:assets';
---

<Card2 />
<Layout title='Gestion Academica'> 
    <div class="box">
        <a href="./menu">
        <Image src="/icons/computadora.png" class="pos" alt='selecionar la materia' width="180" height="110"/>
        <span>Algoritmo y programacion II</span>
    </div>  
</Layout>

<style> 
div{
  justify-content: center;
}

.pos{
  left: 30%;
}
.box{
    width: 100%;
    max-width: 320px;
    padding: 80px;
    text-align: center;
    align-items: center;
    background-color: #317874;
    margin: 80px;
    border-radius: 100px;
}
</style>