---
import Card2 from "../components/card2.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<!--Esta parte es el encabezado -->
<Card2 />
<!--Esta parte es el encabezado -->
<Layout title="Gestion Académica">
  <meta charset="utf-8" />
  <div class="container">
    <!--Imagen sobre una computadora con un codigo-->
    <center>
      <Image
        src="/icons/codigo.png"
        alt="computadora"
        width="200"
        height="250"
      />
      <!--Imagen sobre una computadora con un codigo-->

      <!--Boton de para la materia algoritmo y programacion II -->
      <a href="/materia"
        ><button class="buton">Algoritmo y Programacion II</button></a
      >
      <!--Boton de para la materia algoritmo y programacion II -->

      <!--Imagen para el icono mas -->
      <div>
        <Image src="/icons/mas.png" alt="mas" width="200" height="250" />
      </div>
      <!--Imagen para el icono mas -->
    </center>
  </div>

  <!--Esta parte lleva al repositorio github -->
  <a href="https://github.com/victorC765/algoritmo_y_programacion2_proyecto.git"
    ><Image
      class="gite"
      src="/icons/github.png"
      alt="github"
      width="90"
      height="90"
    /></a
  >
  <!--Esta parte lleva al repositorio github -->
</Layout>

<!--listo esta parte de aquí, este es el fondo de las materias-->
<style>
  .container {
    width: 250px;
    height: 350px;
    background: #499986;
    display: inline-block;
    margin: 80px 70px;
    line-height: 250px;
    border-radius: 30px;
    text-align: center;
  }
</style>
<!--listo esta parte de aquí-->
