---

---
<form  class="formE">
        <label>
           <h1 class="titulo">Crear Evaluación</h1>
        </label>
         <label>
            <input class="inputtext" type="text" name="tema" placeholder="tema" >
        </label>
        <label>
            <input class="inputtext" type="text" placeholder="tipo de evaluación" >
        </label>
         <label>
            <input class="inputtext" type="number" placeholder="ponderacion">
        </label>
        <label>
            <input class="" type="number"  >
        </label>
        <label>
            <input class="inputtext" type="date" >
        </label>
       <button class="buton" type="submit">cargar</button>
</form>

<style>
          .formE{
            margin: 20px;
            width: 100%;
            max-width: 450px;
            background-color: whitesmoke;
            padding: 40px 50px 60px;
            text-align: center;
            border-radius: 25px;

        }
        .titulo{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            padding: 15px;
        }
        input{
        width: 100%;
        background: transparent;
        border: 0;
        outline: none;
        padding: 18px ;
}

input::placeholder {
    color:black;
}
        .inputtext{
            background-color: antiquewhite;
           margin: 25px 0;
            border-radius: 3px;
            display: flex;
            align-items: center;
            transition: max-height 05s;
        }
        .buton{
            background-color: #141551;
            color: aliceblue;
            height: 35px;
            width: 200px;
            border-radius: 6px ;
        }
</style>