---

---

<main>
    <form action="submit"  class="lForm">
        <div class="ftitu">
            <h1>Entrada Al Sistema</h1>
        </div>
        <ul>
            <li> <input class="finput" type="text" placeholder="Cedula">
            </li>
            <li>
                <input class="finput" type="password" placeholder="contraseña">
            </li>
            <li>
                <button class="buton" onclick="boton">ingresar</button>
            </li>
        </ul>
    </form>
</main>
<script> 
function boton ()
{
    alert("Corre please");
}
</script>
<style>
    .lForm{
       
        background-color: #499986;
        margin: 30px;
        align-items: center;
        width: 350px;
        height: 300px;
        padding: 40px;
        text-align: center;
        border-top-right-radius: 40px ;
        border-bottom-left-radius: 40px;
    }
    .ftitu{
        font-size: 23px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .finput{
        margin: 10px;
        height: 26px;
        width: 190px;
        padding: 8px;
        border-radius: 5px;

    }
    .buton{
        margin: 7px;
        background-color: #141551;
        padding: 5px;
       border-radius: 5px;
        width: 190px;
        color: aliceblue;
    }


</style>