---

---

<main>
    <form action="submit"  class="lForm">
        <div class="ftitu">
            <h1>Login</h1>
        </div>
        <ul>
            <li> <input class="finput" type="text" placeholder="Cedula">
            </li>
            <li>
                <input class="finput" type="password" placeholder="contraseña">
            </li>
            <li>
                <button class="buton">ingresar</button>
            </li>
        </ul>
    </form>
</main>

<style>
    .lForm{
       
        background-color: rgb(129, 152, 255);
        margin: 30px;
        align-items: center;
        width: 300px;
        padding: 30px;
        border-top-left-radius: 40px ;
        border-top-right-radius: 40px ;
        border-bottom-left-radius: 40px;
    }
    .ftitu{
        font-size: 23px;
        align-items: center;
    }
    .finput{
        margin: 7px;
        height: 26px;
        width: 190px;
        padding: 5px;

    }
    .buton{
        margin: 7px;
        background-color: rgb(29, 12, 102);
        padding: 5px;
       
        width: 190px;
        color: aliceblue;
    }


</style>