<table>
    <thead>
        <th>evaluaciones</th>
        <th>ponderacion</th>
    </thead>
    <tbody>
        <tr>
            <td>examen</td>
           
            <td>20%</td>
          </tr>
        
    </tbody>

</table>

<style>
       
  
    main {
        display:inline-flex;
    }

    table {
width:  100%;
border-collapse: collapse;
margin:  20px ;
width: 300px;
}

/* Estilos para las celdas de encabezado */
th {
background-color: #0E7E97;
color: rgb(0, 0, 0);
padding:  10px;
text-align: left;
}

/* Estilos para las celdas normales */
td {
border:  1px solid #000000;

height: 30px;
background-color: aliceblue;
}

/* Estilos para las filas alternativas */
tr:nth-child(even) {
background-color: #000000;
}

/* Estilos para el borde de la tabla */
th, td {
border:  1px solid #000000;
}
</style>