


<main>
<table>
    <thead>
       <th>Nombres</th>
       <th>Apellidos</th>
       <th>cedula</th>
       <th>Promedio</th>
    </thead>
    <tbody>
       <td></td>
    </tbody>
</table>
</main>

<style>
    table {
width:  100%;

border-collapse: collapse;
margin:  10px ;

}


th {
background-color: #0E7E97;
color: rgb(0, 0, 0);
padding:  10px;
text-align: left;
}

td {
    text-align: center;
border:  2px solid #000000;
height: 2%;
background-color: whitesmoke;
}


tr:nth-child(even) {
background-color: #000000;
}


th, td {
border:  1px solid #000000;
}
</style>