.boton{

    width: 100%;
    max-width: 180px;
    background-color: blueviolet;
    padding: 12px;
    color: aliceblue;
    border-radius: 10px;
}
.boton:hover{
    background-color: rgb(39, 27, 209);
}