
.conte{
    border-radius: 50px;
    margin: 70px;
    box-shadow: rgba(85, 36, 199, 0.349) 0px 1px 0px, rgba(85, 36, 199, 0.308) 0px 8px 24px, rgba(85, 36, 199, 0.336) 0px 16px 48px;
}
.cabe{
    display: flex;
    background-color: #7183ff;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}