

html,body{
    background-image: url(../img/iujo.jpg);
    background-size: cover;
}


.conteiner{
    display: flex;
 justify-content: center; /* Centra horizontalmente */
 align-items: center; /* Centra verticalmente */
 height: 100vh; 
}

.circulo{
    height: 650px;
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b4147;
    border-radius: 450px;
    }



ul {
  display: flex;
 background-color:#1aab80;
 border-radius: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

ul li{
    list-style: none;
    justify-content: center;
    text-align: center;
    display: block;
}
ul li a{
    text-decoration: none;
    padding:  45px;
    height: 250px;
    display: block;
}

a:hover{
    background-color: #1b4147;
    opacity: 0.8;
    padding: 30px;
    border-radius: 30px;
}
  
